<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{#if title}}{{title}}{{else}}Resume{{/if}}</title>
    <link rel="stylesheet" href="assets/css/index.css"/>
</head>
<body>
    <main class="resume">
        <div class="inner_resume">
            {{> header}}
            {{> sidebar}}
            <div class="resume_content">
                {{> education}}
                {{> experience}}
                {{> intern}}
                {{> skill}}
                {{> description}}
            </div>
        </div>
    </main>
    <footer>
        <a href="https://github.com/hawx1993/resume-master" target="_blank" class="resumeLinks">
            This resume
        </a>
        is built with Gulp, Handlebars and Less. All rights reserved By
        <a href="https://github.com/hawx1993" class="resumeLinks">trigkit4</a>.You can
        <a id="print" href="javascript:;" class="resumeLinks">  print it</a>
    </footer>

    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/script.js"></script>
</body>
</html>