<p   id="border_line1"></p>

{{#each experience}}
    <div class="experience">
        <p class="project_name">
            {{project_name}}
            <span class="projectNameDesc">{{rightDescription}}</span>
        </p>
        {{#each description}}
            <ul>
                <li class="project_desc">{{~{this}~}}</li>
            </ul>
        {{/each}}
    </div>
{{/each}}