<span class="border_line" id="border_line1"></span>
{{#each experience}}
    <div class="experience">
        <p class="project_name">{{project_name}}</p>
        {{#each description}}
            <ul>
                <li class="project_desc">{{~{this}~}}</li>
            </ul>
        {{/each}}
    </div>
{{/each}}