{{#each works}}
    <div class="intern_column">
        <p class="intern_desc">
            {{intern_jobs}}
        </p>
        {{#each description}}
            <ul>
                <li class="project_desc">{{~{this}~}}</li>
            </ul>
        {{/each}}
    </div>
{{/each}}