.education_column {
  width: 568px;
  float: right;
  margin-bottom: 30px;
}
.education_column .border_line {
  display: inline-block;
  width: 540px;
  height: 36px;
  border-bottom: 1.5pt solid #cccccc;
  margin-left: 25px;
}
.education_column .border_line .schoolName {
  font-size: 12pt;
  color: #444;
  line-height: 3;
  font-style: oblique;
  font-weight: bold;
  padding-left: 10px;
}
.education_column .selfIntro {
  display: inline-block;
  position: relative;
  right: -22px;
  top: -44px;
  background-color: #EEEEEE;
  border-bottom: 1px solid #CCCCCC;
  width: 254px;
  height: 20px;
  font-size: 12pt;
  color: #666;
  padding: 6px 0 1px 10px;
}
.education_column .listCommon {
  font-size: 10pt;
  color: #666;
  line-height: 1.25;
}
.education_column .edu_column1 {
  display: inline-block;
  float: left;
  width: 250px;
  margin-left: 30px;
  font-size: 10pt;
  color: #666;
  line-height: 1.25;
}
.education_column .edu_column1 li {
  margin-bottom: 6px;
}
.education_column .edu_column1 .type {
  float: right;
  margin-right: 40px;
}
.education_column .edu_column1 .level {
  float: right;
  margin-right: 40px;
}
.education_column .edu_column2 {
  display: inline-block;
  width: 264px;
  float: right;
  margin-top: -26px;
  font-size: 10pt;
  color: #666;
  line-height: 1.25;
}
.education_column .edu_column2 li {
  list-style-type: none;
  margin-bottom: 6px;
}
.education_column .edu_column2 .now {
  float: right;
}
.education_column .edu_column2 .date {
  float: right;
}
