.border_line {
  display: flex;
  width: 525px;
  border-bottom: 1.5pt solid #cccccc;
  margin-left: 205px;
}
.experience {
  display: inline-block;
  width: 530px;
  float: right;
  margin-top: 20px;
  border-bottom: 1px dashed #ccc;
}
.experience .project_name {
  font-family: SimSun, 宋体, 华文宋体;
  margin: 0.5mm 0.5mm 0.5mm 1.0mm;
  font-size: 10.5pt;
  color: #3d85c6;
  font-weight: bold;
  line-height: 1.5;
}
.experience .project_desc {
  font-family: Tahoma;
  margin: 0.5mm 0.5mm 1mm 1.0mm;
  font-size: 10pt;
  color: #666;
  line-height: 1.5;
}
