.intern_column {
  margin-top: 385px;
  margin-left: 200px;
}
.intern_column .fontSet .intern_desc {
  background-color: #f3f3f3;
  text-align: left;
  vertical-align: middle;
  line-height: 2;
  color: #3d85c6;
  width: 530px;
  height: 24px;
  font-size: 10pt;
  font-weight: bold;
  font-style: normal;
  padding-left: 10px;
}
.intern_column ul {
  margin-left: 10px;
}
