.skill {
  float: right;
}
.skill .fontSet .skill_border {
  border-right: 3pt solid #93c47d;
}
.skill .skill_desc {
  background-color: #EEEEEE;
  width: 540px;
  height: 24px;
  text-align: left;
  vertical-align: middle;
  border-left: 3pt solid #93c47d;
  margin-top: 40px;
  color: #666;
  font-size: 10pt;
  line-height: 2;
  padding-left: 10px;
}
.skill ul {
  margin-left: 30px;
}
